<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>
    <script src="{% static "graph.js" %}" type="text/javascript"></script>

<!--
<marquee><img src="{% static "chuj.jpg" %}" alt="My image"/></marquee>
-->
<!--
<div class="container">
    <img src="{% static "chuj.jpg" %}" />
</div>
-->


</body>
</html>